<app-navbar></app-navbar>
<!--Search Bar-->

<div class="container">
    <div class="row justify-content-center">
     <div class="col-md-6">
      <div class="h1">Search for Products
       <input class="form-control me-2 mt-5" 
       type="search" 
      [(ngModel)]='searchText'
       placeholder="Search for product" 
       aria-label="Search">
     </div>
    </div>
   </div>
  </div>

  

<!--List of products-->

<hr class="mt-3">
<section class="mt-5">
<h1 class="product">All food products with cheap price</h1>
</section>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let food of foods | filter:searchText">
              
              <div class="card shadow-lg mt-5">

                <a routerLink="/food/{{food.id}}" style="text-decoration: none;">
                    <img src="{{food.image}}" alt="check the connection">
                     <div class="card-title">
                      <h1 style="text-decoration: none;">{{food.name}}</h1>
                      <span class="favourite {{food.notfavourite?'':'not'}}" style="text-decoration: none;"><i class="fa fa-heart" aria-hidden="true"></i>

                      </span>
                      <div class="card-desc">
                        <ng-container *ngFor="let star of stars">
                          <app-star [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave()"
                          (bigClick)="updateRating(star)">
                          </app-star>
                          </ng-container>
                          <div class="card-body p-2 mt-2">
                            <span *ngFor="let origin of food.origins">{{origin}}, </span>
                            <span class="delivery" style="text-decoration: none;"><i class="fa-solid fa-clock text-primary"></i> {{ food.Time}} Min</span>
                            <div class="card-price">
                              <h1 class="mt-2" style="font-size: 20px; text-decoration: none;">{{food.price|currency:'INR'}}</h1>
                            </div>
                      </div>
                    
                    </div>
                    
                    </div>
                  </a>
                    </div>
                           
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>
