<div class="h2">All kind of Product</div>

<section class="mt-2">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="../../../assets/images/pexels-marvin-ozz-2474661.jpg" alt="check the network">
                <div class="card-title">
                  <h1 >South Indian</h1>
                </div>
                <div class="card-desc">
                    <p>This is where all the south indian foods are available</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="../../../assets/images/pexels-pixabay-209540.jpg" alt="check the network">
                <div class="card-title">
                  <h1>North Indian</h1>
                </div>
                <div class="card-desc">
                    <p>This is where all the North indian foods are available</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg">
                <img src="../../../assets/images/pexels-engin-akyurt-2347311.jpg" alt="check the network">
                <div class="card-title">
                  <h1>East Indian</h1>
                </div>
                <div class="card-desc">
                    <p>This is where all the East indian foods are available</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>            