
    <!--navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/" routerLinkActive="active-link">
            <img src="../../../assets/images/pngwing.com (1).png" alt="connection the connection" style="height: 40px; width:40px;">
            Food<span style="color: red;">Box</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" routerLink="admin" routerLinkActive="active-link" >Management portal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="login" routerLinkActive="active-link" >Login</a>
              </li>
            </ul>  
          </div>
        </div>
      </nav>