<app-navbar></app-navbar>

<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">Proceed your details to procedure the payment</h1>
            <div class="col-md-8">
                <form>
                    <div class="mb-3 mt-5">
                        <label for="exampleInputEmail1" class="form-label">Address</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"></div>
                      </div>
                    <div class="mb-3 ">
                        <label for="exampleInputEmail1" class="form-label">phone</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"></div>
                      </div>
                    <div class="mb-3 ">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="onsubmit()">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</section>





<app-footer></app-footer>